/.idea/misc.xml
/.idea/modules.xml
/.idea/nationaleNederlanden2.iml
/.idea/vcs.xml
/.idea/workspace.xml
/Api/.mvn/wrapper/maven-wrapper.jar
/Api/.mvn/wrapper/maven-wrapper.properties
/Converter/.mvn/wrapper/maven-wrapper.jar
/Converter/.mvn/wrapper/maven-wrapper.properties
